body {
  min-height: 35em;
  min-width: 20em;
  background: url('~/assets/background-img.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.container {
  height: 30em;
  width: 20em;
  position: relative;
  top: 1em;
  left: 2em;
  right: 2em;
  color: #fff;
  text-align:center;
  background-color: #DA6087;
  border-radius: 12px;
  box-shadow: 6px 3px 26px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 6px 3px 26px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 6px 3px 26px 0px rgba(0,0,0,0.75);
  -o-box-shadow: 6px 3px 26px 0px rgba(0,0,0,0.75);
}

section {
  padding: 1.5em;
}

@media only screen and (max-width: 480px) {
  .container {
    top: 5em;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@media only screen and (max-width: 768px) and (min-width: 480px) {
  .container {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
