h3 {
    margin-bottom: 1em;
}

.score {
    font-size: 1.2em;
    margin: 1em;
}

.review {
    font-size: 1em;
    margin: 0.5em;
}

button {
    margin-top: 1.5em;
}

.icon {
    font-size: 7em !important;
    margin: 0.1em;
}